/* Header */

.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  gap: 10px;
  padding: 92px 50px 91px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item:first-of-type {
  list-style: none;
}

.header__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
}

/* Cover */
.cover {
  position: relative;
  padding: 50px;
  color: white;
  background: url(../images/cover.jpg) center / cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 115px 0px;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding-top: 10px;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
}

.bet-button:hover {
  cursor: pointer;
}

/* Lots */

.lots {
  padding: 180px 50px 90px 50px;
}

.lots__heading {
  padding: 0px 40px 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  padding: 50px 40px;
  color: white;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 3.5px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center / cover;
}

.lots__look-more-link {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 90px 50px;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 100%;
  padding: 63px 46px;
}

.about__column {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__title {
  padding: 101px 0px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 90px 50px;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* General */

.address {
  max-width: 240px;
  font-size: 18px;
  line-height: 24.3px;
}

.address a {
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}

/* Utils */

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: rgba(0, 0, 0);
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}
