/* style.css */

/* RESET (чтобы не было пиксельных сдвигов от дефолтов) */
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  position: relative;
  padding-left: 20px;
}

.header__links-list-item::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5px solid #000;
  border-radius: 50%;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
}

.header__links-list-item_no-bullit::before {
  content: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
  font-size: 18px;
  line-height: 21px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  display: block;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* COVER */

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 1000px;
  height: 385px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.cover__title-word {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.cover__title-word_left {
  top: 0;
  left: 0;
  text-align: left;
}

.cover__title-word_center {
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.cover__title-word_right {
  top: 270px;
  right: 0;
  left: auto;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  width: 1000px;
  margin-top: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 0;
  background: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}

/* LOTS */

.lots {
  padding: 179px 24px 0;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 181px 24px 0;
  align-items: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 35px auto 0;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 0 0 100px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  max-width: 693px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* FOOTER */

.footer {
  padding: 180px 24px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer__address {
  max-width: 264px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
