.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  padding-left: 20px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  justify-self: center;
}

.header__logo-image {
  display: block;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* ====== COVER ====== */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  line-height: 115px;
  font-weight: 700;
  letter-spacing: 25px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
}

/* ====== LOTS ====== */
.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 26px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  text-underline-offset: 4px;
}

/* ====== ABOUT ====== */
.about {
  padding: 155px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 35px auto 0;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  margin-bottom: 24px;
}

/* ====== FOOTER ====== */
.footer {
  padding: 180px 24px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  justify-self: end;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  display: block;
}
```
