/* Общие исправления */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
}

/* HEADER - точные значения из макета */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 0;
  height: 293px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 31.48px; /* Точное значение из макета */
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  position: relative;
  padding-left: 17px; /* Для маркеров */
}

.header__links-list-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 0.5px solid #000;
  border-radius: 50%;
}

.header__links-list-item_no-bullit::before {
  display: none;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
  position: relative;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

/* Логотип из макета - черный вариант */
.header__logo::before {
  content: '';
  position: absolute;
  width: 129.11px;
  height: 104.65px;
  left: 9.03px;
  top: 1.16px;
  background: #000;
  z-index: 0;
}

.header__logo::after {
  content: '';
  position: absolute;
  width: 124.05px;
  height: 94.84px;
  left: 11.39px;
  top: 2.79px;
  border: 6px solid #000;
  z-index: 0;
}

.header__address {
  justify-self: end;
  width: 240px;
  font-style: normal;
}

.address {
  font-size: 18px;
  line-height: 24px;
}

.address__link {
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

/* Подчеркивания для контактов в header */
.address a:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 131.71px;
  height: 1px;
  left: 0;
  bottom: -24px;
  background: #000;
}

.address a:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 129.72px;
  height: 1px;
  left: 0;
  bottom: -24px;
  background: #000;
}

/* COVER - точные значения */
.cover {
  position: relative;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: absolute;
  width: 1000px;
  height: 385px;
  left: 50px;
  top: 165px;
  z-index: 1;
}

.aligned-text {
  position: absolute;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.aligned-text:first-child {
  width: 286px;
  height: 115px;
  left: 0;
  top: 0;
  text-align: left;
}

.aligned-text_center {
  width: 339px;
  height: 115px;
  left: 330.5px;
  top: 135px;
  text-align: center;
}

.aligned-text_right {
  width: 387px;
  height: 115px;
  left: 613px;
  top: 270px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  width: 1000px;
  height: 51px;
  left: 50px;
  top: 656px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  white-space: nowrap;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* LOTS - точные значения */
.lots {
  padding: 179px 24px 0;
  height: 723px;
  position: relative;
}

.lots__heading {
  position: absolute;
  width: 121px;
  height: 47px;
  left: 40px;
  top: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin: 0;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 74px 0 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  flex: 0 0 auto;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0;
  height: 110px;
  display: flex;
  align-items: center;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}

/* Для карточки 1 */
.card_type_film .card__text {
  height: 144px;
}

/* Для карточки 2 */
.card_type_book .card__text {
  height: 360px;
}

/* Для карточки 3 */
.card_type_picture .card__text {
  height: 264px;
}

.lots__look-more-link {
  position: absolute;
  width: 192px;
  height: 23px;
  left: 40px;
  bottom: 0;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.lots__look-more-link::after {
  content: '';
  position: absolute;
  width: 191px;
  height: 1px;
  left: 0;
  bottom: -2px;
  background: #000;
}

/* ABOUT - точные значения */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 181px 24px 0;
  height: 595px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  position: relative;
}

/* Логотип белый вариант */
.about__logo-image {
  width: 148px;
  height: 114px;
  position: relative;
  z-index: 1;
}

.about__logo::before {
  content: '';
  position: absolute;
  width: 129.11px;
  height: 104.65px;
  left: 55.45px;
  top: 67.68px;
  background: #fff;
  z-index: 0;
}

.about__logo::after {
  content: '';
  position: absolute;
  width: 124.05px;
  height: 94.84px;
  left: 57.98px;
  top: 69.31px;
  border: 6px solid #fff;
  z-index: 0;
}

.about__title {
  margin: 100px 0 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  max-width: 693px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin-bottom: 24px;
}

.about__text p:first-child {
  height: 120px;
  margin-bottom: 24px;
}

.about__text p:last-child {
  margin-bottom: 0;
  height: 168px;
}

/* FOOTER - точные значения */
.footer {
  padding: 180px 50px 90px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  height: 180px;
  position: relative;
}

.footer__address {
  width: 264.57px;
  font-style: normal;
  position: relative;
}

.footer__address .address__link {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

/* Подчеркивания в footer */
.footer__address .address__link:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 131px;
  height: 1px;
  left: 0;
  bottom: -24px;
  background: #000;
}

.footer__address .address__link:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 131px;
  height: 1px;
  left: 0;
  bottom: -24px;
  background: #000;
}

.footer__menu {
  justify-self: center;
  width: 163.9px;
  height: 64px;
  position: relative;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer__menu-list-item {
  margin-bottom: 21px;
  position: relative;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.footer__menu-link_active {
  text-decoration: none;
}

/* Подчеркивания в меню footer */
.footer__menu-list-item:nth-child(1) .footer__menu-link::after {
  content: '';
  position: absolute;
  width: 107px;
  height: 1px;
  left: 28.45px;
  bottom: -21px;
  background: #000;
}

.footer__menu-list-item:nth-child(2) .footer__menu-link::after {
  content: '';
  position: absolute;
  width: 146px;
  height: 1px;
  left: 8.95px;
  bottom: -21px;
  background: #000;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}

/* Иконки социальных сетей */
.footer__social-icon {
  width: 100%;
  height: 100%;
  display: block;
}

/* YouTube */
.footer__social-list-item:first-child .footer__social-link::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 20px;
  left: 11px;
  top: 14px;
  background: #000;
}

.footer__social-list-item:first-child .footer__social-link::after {
  content: '';
  position: absolute;
  width: 8.41px;
  height: 10.13px;
  left: 20.55px;
  top: 19.21px;
  background: #000;
}

/* VK */
.footer__social-list-item:nth-child(2) .footer__social-link::before {
  content: '';
  position: absolute;
  width: 29.12px;
  height: 18px;
  left: 9.44px;
  top: 14.95px;
  background: #000;
}

/* Pinterest */
.footer__social-list-item:last-child .footer__social-link::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 22px;
  left: 15.5px;
  top: 13px;
  background: #000;
}

/* Общие стили для текста */
.address span {
  display: block;
  margin-top: 24px;
}

/* Убираем лишние отступы */
main {
  position: relative;
  height: 2073px;
}
